@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 14.5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 14.5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 14.5%;

    --primary: 0 0% 14.5%;
    --primary-foreground: 0 0% 98.5%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 14.5%;

    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 55.6%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 14.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98.5%;

    --border: 0 0% 92.2%;
    --input: 0 0% 92.2%;
    --ring: 0 0% 70.8%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 14.5%;
    --foreground: 0 0% 98.5%;

    --card: 0 0% 20.5%;
    --card-foreground: 0 0% 98.5%;

    --popover: 0 0% 20.5%;
    --popover-foreground: 0 0% 98.5%;

    --primary: 0 0% 92.2%;
    --primary-foreground: 0 0% 20.5%;

    --secondary: 0 0% 26.9%;
    --secondary-foreground: 0 0% 98.5%;

    --muted: 0 0% 26.9%;
    --muted-foreground: 0 0% 70.8%;

    --accent: 0 0% 26.9%;
    --accent-foreground: 0 0% 98.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98.5%;

    --border: 0 0% 100% / 0.1;
    --input: 0 0% 100% / 0.15;
    --ring: 0 0% 55.6%;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
}
